body, html {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin:0;
}

.container {
    margin: 0 auto;;
}
.content {
    width: 570px;
    margin: 0 auto;
}

h1, h2 {
    margin:0;
}
h1 {
    font-size: 60px;
    font-weight: 300;
    margin-top: 0px;
}
h2 {
    font-size: 42px;
    font-weight: 300;
    margin-top: 0px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    padding: 20px
}
h3 {
    font-size: 36px;
    margin-bottom:0;
    margin-top: 20px;
}
small {
    font-size: 16px;
}

.loud {
    font-weight: 900;
    display: block;
}
h1 .loud {
    font-size: 80px;
    color: #99D930;
}
h2 .loud {
    font-size: 60px;
    color: #99D930;
}
a {
    color: #99D930;
}
a:hover {
    color: #131313;
}
time {
    color: #99D930;
}
.padding100 {
    padding: 100px 0px;
}
.dark {
    background-color: #252525;
    color:#fff; 
}
.btn {
    background-color: #99D930;
    color: #252525;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 900;
}
.btn:hover, btn:focus {
    background-color: #252525;
    color: white;
}

.dark .btn:hover,
.dark .btn:focus {
    color: #252525;
    background-color: #fff
}
